body {
	background-color: #f1f5f8
}

a {
	text-decoration: none;
}

.flex-basis-500 {
	flex-basis: 500px
}
.flex-basis-700 {
	flex-basis: 700px
}
.flex-basis-1200 {
	flex-basis: 1200px
}

.Card-list {
	display: grid;
	grid-gap: 1rem;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, 16rem);
	grid-auto-rows: 2rem;
	justify-content: center
}

.span-2 {
	grid-row: span 2
}
.span-3 {
	grid-row: span 3
}
.span-4 {
	grid-row: span 4
}
.span-5 {
	grid-row: span 5
}
.span-6 {
	grid-row: span 6
}
.span-7 {
	grid-row: span 7
}
.span-8 {
	grid-row: span 8
}
.span-9 {
	grid-row: span 9
}
.span-10 {
	grid-row: span 10
}
.span-11 {
	grid-row: span 11
}
.span-12 {
	grid-row: span 12
}
.span-13 {
	grid-row: span 13
}

.search-highlight {
	padding: 0.25rem 0.15rem;
	background-color: lightsalmon;
	font-weight: 900;
	color: rgb(27, 27, 27);
}

.order-first {
	order: -1
}
